@import 'tailwindcss';

@theme {
  /* Discord Blurple */
  --color-discord-50:  #f2f3ff;
  --color-discord-100: #e5e7ff;
  --color-discord-200: #c7ccff;
  --color-discord-300: #a7afff;
  --color-discord-400: #8790ff;
  --color-discord-500: #5865f2; /* main blurple */
  --color-discord-600: #4752c4;
  --color-discord-700: #3c45a5;
  --color-discord-800: #313987;
  --color-discord-900: #252b69;
  --color-discord-950: #171b43;

  /* Discord Dark Body */
  --color-body-50:  #f5f5f6;
  --color-body-100: #ebebed;
  --color-body-200: #d7d8db;
  --color-body-300: #bfc1c6;
  --color-body-400: #a6a8ad;
  --color-body-500: #313338; /* main body */
  --color-body-600: #2b2d31;
  --color-body-700: #242629;
  --color-body-800: #1c1d21;
  --color-body-900: #121215;
  --color-body-950: #080809;
}